@model List<AgroControlUI.DTOs.CropProtectionProducts.CropProtectionProductCategoryDto>

<link rel="stylesheet" href="~/css/indexList.css">

<h1 class="blue">Kategorie środków ochrony roślin</h1>

<div class="wrapper">
    <p>
        <a asp-action="Create" class="add-btn btn"><img src="~/images/plus-solid.svg" />Dodaj kategorię nawozów</a>
    </p>
    <div class="table">
        <div class="row header blue">
            <div class="cell">
                Nazwa kategorii
            </div>
            <div class="cell">
                Akcje
            </div>
        </div>
        @foreach (var category in Model)
        {
            <div class="row">
                <div class="cell" data-title="Nazwa kategorii">
                    @category.Name
                </div>
                <div class="cell" data-title="Akcje">
                    <div class="action-buttons">
                        <a asp-action="Edit" asp-route-id="@category.Id" class="btn edit-btn"><img src="~/images/edit.svg" />Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@category.Id" class="btn delete-btn"><img src="~/images/delete.svg" />Usuń</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
