@model AgroControlUI.DTOs.Account.ChangePasswordDto

<link rel="stylesheet" href="~/css/loginAndRegister.css">

<div class="login-container">
    <div class="login-form">
        <h1>Zmiana hasła</h1>

        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="group">
                <input asp-for="CurrentPassword" required type="password" />
                <span class="bar"></span>
                <label asp-for="CurrentPassword">Aktualne hasło</label>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="group">
                <input asp-for="NewPassword" required type="password" />
                <span class="bar"></span>
                <label asp-for="NewPassword">Nowe hasło</label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="group">
                <input asp-for="ConfirmPassword" required type="password" />
                <span class="bar"></span>
                <label asp-for="ConfirmPassword">Potwierdź nowe hasło</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn-log">Zmień hasło</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
