<h1>Polityka Prywatności</h1>

<p>Szanujemy Twoją prywatność. Nasza polityka prywatności opisuje, jak gromadzimy, wykorzystujemy i chronimy Twoje dane osobowe.</p>

<h2>Gromadzenie danych</h2>
<p>Możemy zbierać dane osobowe, takie jak imię, nazwisko, adres e-mail oraz dane dotyczące korzystania ze strony (np. pliki cookie).</p>

<h2>Wykorzystanie danych</h2>
<p>Twoje dane są wykorzystywane w celu zapewnienia lepszej jakości usług, kontaktowania się z Tobą oraz wysyłania informacji marketingowych (jeśli wyrazisz zgodę).</p>

<h2>Ochrona danych</h2>
<p>Dokładamy wszelkich starań, aby chronić Twoje dane. Stosujemy odpowiednie środki bezpieczeństwa, by zapobiec nieautoryzowanemu dostępowi.</p>

<h2>Twoje prawa</h2>
<p>Masz prawo dostępu do swoich danych, ich poprawiania, usuwania oraz ograniczenia ich przetwarzania. W razie pytań skontaktuj się z nami.</p>

<h2>Kontakt</h2>
<p>Email: <a href="mailto:bartekg411@interia.pl">bartekg411@interia.pl</a></p>

<h2>Stworzone przez</h2>
<p>Cała aplikacja została stworzona przez <strong>Górczyńskiego Bartłomieja</strong>.</p>

<p>Data ostatniej aktualizacji: <strong>7 kwietnia 2025</strong></p>