@model List<AgroControlUI.DTOs.CropProtectionProducts.ActiveIngredientDto>

<link rel="stylesheet" href="~/css/indexList.css">
<link rel="stylesheet" href="~/css/listOperations.css">

<h1 class="blue">Substancje aktywne</h1>

<div id="categories" class="wrapper">
    <p>
        <a asp-action="Create" class="add-btn btn"><img src="~/images/plus-solid.svg"/>Dodaj substancję aktywną</a>
    </p>
    <div class="table">
        <div class="row header" id="headerRow">
            <div class="cell" data-sort="name" onclick="sortByColumn(this)">
                <div class="sort-wrapper">
                    <span class="sort-text">Nazwa substancji aktywnej</span>
                    <span class="sort-arrow">▼</span>
                </div>
            </div>
            <div class="cell">
                Akcje
            </div>

        </div>
        <div class="row">
            <div class="cell">
                <input type="text" class="search-input" data-search="name" placeholder="Szukaj..." oninput="searchByColumn()" />
            </div>
            <div class="cell">
            </div>
        </div>
        <div class="list">
        @foreach (var activeIngredient in Model)
        {
            <div class="row">
                <div class="cell name" data-title="Nazwa substancji aktywnej">
                    @activeIngredient.Name
                </div>
                <div class="cell" data-title="Akcje">
                    <div class="action-buttons">
                        <a asp-action="Edit" asp-route-id="@activeIngredient.Id" class="btn edit-btn"><img src="~/images/edit.svg" />Edytuj</a>
                        <button type="button" class="delete-btn" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="setDeleteUrl('@Url.Action("DeleteConfirmed", new { id = activeIngredient.Id })')">
                            <img src="~/images/delete.svg" />Usuń
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
    <ul class="pagination"></ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<script src="~/js/listOperations.js"></script>
<script src="~/js/deleteModal.js"></script>