
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.blue-form {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

    .blue-form h1 {
        font-size: 2rem;
        color: var(--category2-color);
        padding-top: 20px;
        padding-bottom: 10px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 45px;
    }

.green-form {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

    .green-form h1 {
        font-size: 2rem;
        color: var(--category1-color);
        padding-top: 20px;
        padding-bottom: 10px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 45px;
    }

/* Form styles */
.group {
    position: relative;
    margin-bottom:50px;
    min-height: 30px
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #757575;
    background-color: transparent;
    transition: border-color 0.3s;
}

    input:focus {
        outline: none;
        border-color: #4caf50;
    }

/* LABEL Styling */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

/*input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: black;
}*/
input:focus ~ label,
textarea:focus ~ label,
input.filled ~ label,
textarea.filled ~ label {
    top: -20px;
    font-size: 14px;
    color: black;
}
/* Bottom bars (focus effect) */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #4caf50;
        transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* Button styling */
.btn {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

    .btn:hover {
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }

.action-buttons {
    display: flex;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.add-btn {
    font-weight: 500;
    background-color: var(--add-btn-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    width: 50%;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

    .add-btn:hover {
        color: white;
        box-shadow: 0px 0px 10px 3px var(--add-btn-color);
        transform: translateY(-3px);
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }

.cancel-btn {
    font-weight: 500;
    background-color: var(--cancel-btn-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    width: 50%;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

    .cancel-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0px 0px 10px 3px var(--cancel-btn-color);
        color: white;
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }
/* Validation message styling */
.text-danger {
    font-size: 0.9rem;
    color: red;
    margin-top: 5px;
}
/*textArea*/
.description-field {
    font-size: 18px;
    padding: 0px 10px 10px 5px;
    display: block;
    width: 100%;
    height: 220px;
    border: none;
    border-bottom: 2px solid #757575;
    background-color: transparent;
    transition: border-color 0.3s;
    border-top: 10px solid white;
    resize: none;
    line-height: 1;
}

    .description-field:focus ~ .bar:before, .description-field:focus ~ .bar:after {
        width: 50%;
    }

    .description-field:focus {
        outline: none;
        border-color: #4caf50;
        border-top: 10px solid white;
    }

/*textarea:focus ~ label,
textarea:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: black;
}*/
/* Responsive Styles */
@media (max-width: 768px) {
    .green-form {
        padding: 20px;
        margin: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    input {
        font-size: 0.95rem;
    }

    .btn {
        font-size: 1rem;
    }
}

.green-form .btn:focus {
    outline: none;
}

.text-danger {
    line-height: 1;
    font-size: 0.9rem;
    color: red;
    margin-top: 5px;
    display: block;
    white-space: normal;
    word-wrap: break-word;
}
.delete-btn {
    font-weight: 500;
    background-color: var(--delete-btn-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    width: 50%;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

    .delete-btn img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .delete-btn:hover {
        box-shadow: 0px 0px 10px 3px rgba(224, 101, 112, 0.88);
        transform: translateY(-3px);
        color: white;
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }
.edit-btn {
    font-weight: 500;
    background-color: var(--edit-btn-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    width: 50%;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

    .edit-btn img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .edit-btn:hover {
        box-shadow: 0px 0px 10px 3px rgba(224, 196, 101, 0.88);
        transform: translateY(-3px);
        color: white;
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="date"]:not(:focus):not(.filled)::-webkit-datetime-edit-fields-wrapper {
    color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit-fields-wrapper {
    color: inherit;
}

input[type="date"].filled:not(:focus)::-webkit-datetime-edit-fields-wrapper {
    color: inherit;
}
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    z-index: 2;
    pointer-events: auto;
}
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        border-radius: 20px;
        left: 0.27em;
        bottom: 0.25em;
        background-color: #adb5bd;
        transition: .4s;
    }

input:checked + .slider {
    background-color: var(--main-app-color);
    border: 1px solid var(--main-app-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--main-app-color);
}

input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
}

.switch input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.switch-label {
    font-size: 18px;
    padding: 10px 10px 10px 15px;
}