.ts-wrapper {
    border: none;
    border-bottom: 2px solid #757575;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

    .ts-wrapper.input-active {
        border-color: #4caf50 !important;
        outline: none;
    }

.ts-control {
    border: none!important;
    padding: 10px 10px 10px 5px !important;
    font-size: 18px;
    background-color: white;
    position: relative;
}

.ts-dropdown {
    border: 2px solid #4caf50;
    background-color: white;
    overflow: hidden;
    z-index: 11;
}

    .ts-dropdown .option {
        padding: 10px;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

.ts-control::before {
    content: attr(data-placeholder);
    color: #757575;
    position: absolute;
    left: 10px;
    pointer-events: none;
    display: block;
}

.ts-control input {
    opacity: 0;
}

.ts-wrapper.input-active .ts-control input {
    opacity: 1;
}

.ts-wrapper.has-items .ts-control input {
    opacity: 1;
}

.ts-dropdown .option:hover {
    background-color: #4caf50;
    color: white;
}

.ts-control .item {
    background-color: #4caf50 !important;
    border-radius: 5px;
    color: white !important;
    margin: 8px;
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 16px;
    pointer-events: none;
}

.ts-control input {
    font-size: 18px;
}

.ts-control .item .remove {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 22px;
    margin-left: 0px;
    cursor: pointer;
    background-color: #4caf50 !important;
    pointer-events: auto;
    cursor: pointer;
}

    .ts-control .item .remove:hover {
        background-color: #4caf50 !important;
        color: black;
    }

    .ts-control .item .remove::before {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

.ts-wrapper.plugin-remove_button:not(.rtl) .item {
    padding-right: 5px !important;
}
.ts-wrapper.plugin-remove_button:not(.rtl) .ts-control .item.remove {
    padding-right: 5px !important;
}


/* Stylowanie dropdowna */
.ts-dropdown {
    border: 2px solid #4caf50;
    background-color: white;
    overflow: hidden;
    box-shadow: none;
}

    /* Stylowanie opcji w dropdownie */
    .ts-dropdown .option {
        padding: 10px;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

        /* Kolorowanie opcji przy najechaniu */
        .ts-dropdown .option:hover {
            background-color: #4caf50;
            color: white;
        }

.single-dropdown {
    position: relative;
    margin-bottom: 60px;
    margin-top: -10px;
    min-height: 40px;
    border: none;
}

    .single-dropdown label {
        display: block !important;
        margin-bottom: 5px;
        color: #999 !important;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        z-index: 10;
    }

.multi-dropdown {
    position: relative;
    margin-bottom: 60px;
    margin-top: -10px;
    min-height: 40px;
    border: none;
}

    .multi-dropdown label {
        display: block !important;
        margin-bottom: 5px;
        color: #999 !important;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        z-index: 10;
    }

/*.adding-dropdown {
    position: relative;
    margin-bottom: 60px;
    margin-top: -10px;
    min-height: 40px;
    border: none;
}

    .adding-dropdown label {
        display: block !important;
        margin-bottom: 5px;
        color: #999 !important;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        z-index: 10;
    }*/

.ts-wrapper.input-active ~ label {
    top: -20px;
    font-size: 14px;
    color: black !important;
}

.ts-wrapper.has-items ~ label {
    top: -20px;
    font-size: 14px;
    color: black !important;
}

.single-dropdown .ts-wrapper .ts-control {
    display: flex;
    padding: 10px 10px 10px 5px;
    min-height: 40px;
    background-color: white;
    border: none;
    flex-wrap: nowrap;
}

    .single-dropdown .ts-wrapper .ts-control .item {
        background-color: transparent !important;
        color: black !important;
        pointer-events: none;
        display: flex;
        font-size: 18px;
        padding: 0;
        margin: 0;
    }

    .single-dropdown .ts-wrapper .ts-control .remove {
        display: none;
    }

    .single-dropdown .ts-wrapper .ts-control input {
        flex-grow: 1;
        min-width: 100px;
        border: none;
        background: transparent;
        font-size: 18px;
        outline: none;
        padding: 0px;
    }

.ts-dropdown [data-selectable] .highlight {
    background: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
    opacity: 1;
    display: inline;
    position: unset !important;
}

.ts-dropdown-content::-webkit-scrollbar {
    width: 12px;
}

.ts-dropdown-content::-webkit-scrollbar-track {
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.ts-dropdown-content::-webkit-scrollbar-thumb {
    background-color: #363636;
}

.ts-control::after {
    content: '';
    border: solid #757575;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    position: absolute;
    right: 10px;
    bottom: 10px;
    transform: translateY(-50%) rotate(45deg);
}

.ts-wrapper.input-active .ts-control::after {
    transform: rotate(-135deg);
}

.ts-wrapper.input-active ~ .bar:before, .ts-wrapper.input-active ~ .bar:after {
    width: 50%;
}

.bar {
    z-index: 15;
}
