#fieldMap {
    width: 100%;
    height: 400px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.details-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info-section {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.info-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.timestamp {
    font-size: 0.9em;
    color: #555;
}

.info-name {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.action-buttons {
    display: flex;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.delete-btn {
    font-weight: 500;
    background-color: var(--delete-btn-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    width: 50%;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

    .delete-btn img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .delete-btn:hover {
        box-shadow: 0px 0px 10px 3px rgba(224, 101, 112, 0.88);
        transform: translateY(-3px);
        color: white;
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }

.edit-btn {
    font-weight: 500;
    background-color: var(--edit-btn-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    width: 50%;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

    .edit-btn img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .edit-btn:hover {
        box-shadow: 0px 0px 10px 3px rgba(224, 196, 101, 0.88);
        transform: translateY(-3px);
        color: white;
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }

.cancel-btn {
    font-weight: 500;
    background-color: var(--cancel-btn-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    width: 50%;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

    .cancel-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0px 0px 10px 3px var(--cancel-btn-color);
        color: white;
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }

.add-btn {
    font-weight: 500;
    background-color: var(--add-btn-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    width: 50%;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

    .add-btn:hover {
        color: white;
        box-shadow: 0px 0px 10px 3px var(--add-btn-color);
        transform: translateY(-3px);
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }

.details-container h1 {
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
 .green-details h1 {
    color: var(--category1-color);
}
 .blue-details h1 {
    color: var(--category2-color);
}
 .yellow-details h1 {
    color: var(--category3-color);
}