.custom-dropdown {
    position: relative;
    display: inline-block;
    min-width: 250px;
    margin-bottom: 20px;
}

    .custom-dropdown select {
        width: 100%;
        padding: 12px 35px 12px 16px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 8px;
        background: white;
        appearance: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s ease;
    }

    /* Etykieta (label) nad dropdownem */
    .custom-dropdown label {
        position: absolute;
        top: -10px;
        left: 12px;
        font-size: 14px;
        font-weight:500;
        background: white;
        padding: 0 5px;
    }

    /* Strzałka wewnątrz dropdowna */
    .custom-dropdown::after {
        content: '▼';
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        color: #757575;
        pointer-events: none;
    }
select option:hover  {
    background-color: red;
}
    .custom-dropdown.green-filter select:focus {
        border-color: var(--category1-color);
    }

    .custom-dropdown.green-filter label {
        color: var(--category1-color);
    }

    .custom-dropdown.blue-filter select:focus {
        border-color: var(--category2-color);
    }

    .custom-dropdown.blue-filter label {
        color: var(--category2-color);
    }

    .custom-dropdown.yellow-filter select:focus {
        border-color: var(--category3-color);
    }

    .custom-dropdown.yellow-filter label {
        color: var(--category3-color);
    }