* {
    box-sizing: border-box;
}

.slideshow-container {
    margin: auto;
    margin-top: 30px;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 18px;
    border: solid 2px var(--main-app-color);    
}

.mySlides {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1.5s ease-in-out;
    opacity: 0;
}

    .mySlides img {
        border-radius: 15px;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.show {
    opacity: 1;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    z-index: 3;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}

    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.7);
        color: var(--main-app-color);
        text-decoration: none;
    }

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.text {
    color: #fff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: var(--main-app-color);
    }

.feature {
    background-color: #fff;
    border: 2px solid var(--main-app-color);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: auto;
    min-height: 450px;
}

@media (max-width: 1200px) {
    .feature {
        min-height: 550px;
    }
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.feature img {
    width: 80%;
    border-bottom: 3px solid var(--main-app-color);
    height: auto;
    padding-bottom: 20px;
}

.feature h3 {
    font-size: 1.2rem;
    color: var(--main-app-color);
    margin: 15px 0 10px;
    font-weight: bold;
}

.feature p {
    font-size: 1.0rem;
    color: #555;
}

.app-description {
    margin-top: 10px;
    margin-bottom:30px;
    text-align: center;
    background-color: white;
    color: #333;
    border-bottom: 5px solid var(--main-app-color);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

    .app-description h1 {
        font-size: 2.5rem;
        margin-bottom: 15px;
        color: var(--main-app-color);     
    }

    .app-description p {
        font-size: 1.2rem;
        margin-bottom: 20px;
        line-height: 1.6;
    }
.category {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
    height: 100%;
}

.category-wraper:nth-child(1) .category {
    border: 3px solid var(--category2-color)
    ;
}

.category-wraper:nth-child(2) .category {
    border: 3px solid var(--category1-color);
}

.category-wraper:nth-child(3) .category {
    border: 3px solid var(--category3-color);
}

.category-wraper:nth-child(4) .category {
    border: 3px solid var(--category4-color);
}

.category-wraper:nth-child(1) .category h3 {
    color: var(--category2-color);
}

.category-wraper:nth-child(2) .category h3 {
    color: var(--category1-color);
}

.category-wraper:nth-child(3) .category h3 {
    color: var(--category3-color);
}

.category-wraper:nth-child(4) .category h3 {
    color: var(--category4-color);
}


.category h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid currentColor;
    padding-bottom: 10px;
    font-weight: bold;
}


.tile {
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 0;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    height: auto;
    min-height: 175px;
    justify-content: center;
    align-content: center;
}

/* Dziedziczenie kolorów kategorii */
.category-wraper:nth-child(1) .category .tile {
    background-color: var(--category2-light-color);
    border-color: var(--category2-color) /* Kolor ramki */
}

.category-wraper:nth-child(2) .category .tile {
    background-color: var(--category1-light-color); /* Jasny zielony */
    border-color: var(--category1-color);
}

.category-wraper:nth-child(3) .category .tile {
    background-color: var(--category3-light-color); /* Jasny żółty */
    border-color: var(--category3-color);
}

.category-wraper:nth-child(4) .category .tile {
    background-color: #fceeef;
    border-color: #E06570;
}

.category-wraper:nth-child(1) .category .tile:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px 5px var(--category2-color);
}

.category-wraper:nth-child(2) .category .tile:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px 5px var(--category1-color);
}

.category-wraper:nth-child(3) .category .tile:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px 5px var(--category3-color);
}

.category-wraper:nth-child(4) .category .tile:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px 5px var(--category4-color)
}
/* Obrazki w kafelkach */
.tile img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    object-fit: contain;
}

/* Tekst w kafelkach */
.tile h4 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;
}

.tile a {
    position: absolute; /* Absolutne pozycjonowanie względem .tile */
    top: 0;
    left: 0;
    width: 100%; /* Rozciąga link na całą szerokość kafelka */
    height: 100%; /* Rozciąga link na całą wysokość kafelka */
    display: flex; /* Użycie flexboxa do centrowania zawartości */
    flex-direction: column; /* Ustawienie kolumnowego układu */
    align-items: center; /* Wyśrodkowanie obrazka i tekstu h4 w poziomie */
    justify-content: center; /* Wyśrodkowanie obrazka i tekstu h4 w pionie */
    text-decoration: none;
}

/* Kolory tekstów kafelków w zależności od kategorii */
.category-wraper:nth-child(1) .category .tile h4 {
    color: var(--category2-color); /* Niebieski */
}

.category-wraper:nth-child(2) .category .tile h4 {
    color: var(--category1-color); /* Zielony */
}

.category-wraper:nth-child(3) .category .tile h4 {
    color: var(--category3-color); /* Żółty */
}

.category-wraper:nth-child(4) .category .tile h4 {
    color: var(--category4-color); /* Czerwony */
}

.container {
    padding-top: 10px;
}