* {
    box-sizing: border-box;
}

.slideshow-container {
    margin: auto;
    margin-top: 30px;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 18px;
    border: solid 2px #4caf50;
}

.mySlides {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1.5s ease-in-out;
    opacity: 0;
}

    .mySlides img {
        border-radius: 15px;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.show {
    opacity: 1;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    z-index: 3;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}

    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.7);
        color: #4caf50;
        text-decoration: none;
    }

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.text {
    color: #fff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #4caf50;
    }

.feature {
    background-color: #fff;
    border: 2px solid #4caf50;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: auto;
    min-height: 450px;
}

@@media (max-width: 1200px) {
    .feature {
        min-height: 550px;
    }
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.feature img {
    width: 80%;
    border-bottom: 3px solid #4caf50;
    height: auto;
    padding-bottom: 20px;
}

.feature h3 {
    font-size: 1.2rem;
    color: #4caf50;
    margin: 15px 0 10px;
    font-weight: bold;
}

.feature p {
    font-size: 1.0rem;
    color: #555;
}

.app-description {
    margin-top: 50px;
    text-align: center;
    background-color: white;
    color: #333;
    border-bottom: 5px solid #4caf50;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

    .app-description h1 {
        font-size: 2.5rem;
        margin-bottom: 15px;
        color: #4caf50;
    }

    .app-description p {
        font-size: 1.2rem;
        margin-bottom: 20px;
        line-height: 1.6;
    }
