.wrapper {
    margin: 0 auto;
    max-width: 100%;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}

@media screen and (max-width: 580px) {
    .table {
        display: block;
    }
}

.row {
    display: table-row;
    background: #f6f6f6;
}

    .row:nth-of-type(odd) {
        background: #e9e9e9;
    }

    .row.header {
        font-size:large;
        font-weight: 700;
        color: #ffffff;
        background: #6576E0;
    }

    .row.green {
        background: #28A745;
    }

    .row.red {
        background: #E06570;
    }

    .row.yellow {
        background: #E0C465;
    }

@media screen and (max-width: 580px) {
    .row {
        padding: 14px 0 7px;
        display: block;
    }

        .row.header {
            padding: 0;
            height: 6px;
        }

            .row.header .cell {
                display: none;
            }

        .row .cell {
            margin-bottom: 10px;
        }

            .row .cell:before {
                margin-bottom: 3px;
                content: attr(data-title);
                min-width: 98px;
                font-size: 10px;
                line-height: 10px;
                font-weight: bold;
                text-transform: uppercase;
                color: #969696;
                display: block;
            }
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}

@media screen and (max-width: 580px) {
    .cell {
        padding: 2px 16px;
        display: block;
    }
}

.cell .action-buttons {
    display: flex;
    gap: 10px;
    padding-top:5px;
    padding-bottom:5px;
}

.btn {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

    .btn:hover {
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }

.green {
    color: #28A745;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
}
.blue {
    color: #6576E0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
}
.yellow {
    color: #E0C465;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
}
.red {
    color: #E06570;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
}

.add-btn {
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    background-color: #28A745;
    border-radius: 8px;
    margin-bottom: 20px;
}

    .add-btn img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .add-btn:hover {
        color: white;
        box-shadow: 0px 0px 10px 3px rgba(40, 167, 69, 0.65);
        transform: translateY(-3px);
    }

.edit-btn {
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #E0C465;
}
    .edit-btn img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .edit-btn:hover {
        box-shadow: 0px 0px 10px 3px rgba(224, 196, 101, 0.88);
        transform: translateY(-3px);
        color:white;
    }

.delete-btn {
    font-weight:500;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #E06570;
}
    .delete-btn img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .delete-btn:hover {
        box-shadow: 0px 0px 10px 3px rgba(224, 101, 112, 0.88);
        transform: translateY(-3px);
        color: white;
    }

.cancel-btn {
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #6576E0;
}
    .cancel-btn img {
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }
    .cancel-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0px 0px 20px 5px rgba(101, 118, 224, 0.88);
        color: white;
    }
