.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Form container (Login form in a box) */
.login-form {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

    .login-form h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 25px;
        color: #28A745;
    }

/* Form styles */
.group {
    position: relative;
    margin-bottom: 10px;
    min-height: 100px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #757575;
    background-color: transparent;
    transition: border-color 0.3s;
}

    input:focus {
        outline: none;
        border-color: #4caf50;
    }

/* LABEL Styling */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: black;
}

/* Bottom bars (focus effect) */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #4caf50;
        transition: 0.3s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* Highlighting effect for input */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        width: 0;
        background: transparent;
    }

    to {
        width: 100%;
        background: transparent;
    }
}

/* Button styling */
.btn {
    background-color: #28A745;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1.3rem;
    font-weight:500;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

    .btn:hover {
        background-color: #28A745;
        box-shadow: 0px 0px 15px 4px rgba(40, 167, 69, 0.65);
        transform: translateY(-3px);
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }

/* Validation message styling */

.text-danger {
    line-height: 1;
    font-size: 0.9rem;
    color: red;
    margin-top: 5px;
    display: block; /* Zapewnia, że komunikaty walidacyjne będą pod polem */
    white-space: normal; /* Pozwala na wielolinijkowe komunikaty */
    word-wrap: break-word; /* Zapobiega wychodzeniu tekstu poza kontener */
}
/* Responsive Styles */
@media (max-width: 768px) {
    .login-form {
        padding: 20px;
        margin: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    input {
        font-size: 0.95rem;
    }

    .btn {
        font-size: 1rem;
    }
}

.login-form .btn:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(76, 175, 80, 0.8);
}
