.area-label {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: transparent; /* Brak tła */
    padding: 0; /* Bez paddingu */
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px; /* Lekko większa czcionka */
}

.legend {
    margin-top: 20px;
    font-size: 14px;
}

    .legend h6 {
        margin-bottom: 10px;
        font-weight: bold;
    }

    .legend ul {
        list-style: none;
        padding: 0;
    }

    .legend li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

.legend-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

/*input:focus ~ label,
input:valid ~ label,*/
input[readonly] ~ label {
    top: -20px;
    font-size: 14px;
    color: black;
}

.map {
    padding: 0px;
    margin: 0px;
}
