
.remove-row {
    background: none;
    border: none;
    color: #999; /* Zielony kolor */
    font-size: 24px; /* Duży rozmiar czcionki */
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    line-height: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.remove-row:hover {
    background: none;
    border: none;
    color: var(--main-app-color); /* Zielony kolor */
    font-size: 24px; /* Duży rozmiar czcionki */
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    line-height: 1;
    transform: translateY(-3px);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}
/* Styl dla przycisku "Dodaj kolejny" - dopasowany do stylu action-buttons */
#add-ingredient {
    display: inline-block;
    background-color: var(--add-btn-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    margin-top: 10px;
}

    #add-ingredient:hover {
        transform: translateY(-3px);
        box-shadow: 0px 0px 10px 3px var(--add-btn-color);
    }



.adding-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    padding-bottom: 12px;
    justify-content: space-between
}

    /* Styl dla selecta */
    .adding-wrapper .ts-wrapper {
        position: relative;
        width: 100%;
        border: none;
        border-bottom: 2px #757575 solid;
    }

        .adding-wrapper .ts-wrapper .ts-control {
            border: none !important;
        }

.adding-input {
    width: 30%;
    height: 46px;
}

.adding-select {
    width: 55%;
}

.adding-wrapper .group {
    margin-bottom: 15px;
}