@model AgroControlUI.DTOs.ReferenceData.FuelDto

<link rel="stylesheet" href="~/css/add.css">

<div class="form-container">
    <div class="green-form">
        <form asp-action="Edit" method="post">
            <h1>Edytuj rodzaj paliwa</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="group">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input asp-for="Name" required value="@Model.Name"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label asp-for="Name">Nazwa rodzaju paliwa</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="FuelSymbol" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label asp-for="FuelSymbol">Symbol</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="action-buttons">
                <a asp-action="Index" class="cancel-btn btn">Anuluj</a>
                <button type="submit" class="add-btn btn">Edytuj</button>
            </div>
        </form>
    </div>
</div>
