@model List<AgroControlUI.DTOs.Fertilizers.ChemicalElementDto>

<link rel="stylesheet" href="~/css/indexList.css">

<h1 class="green"></h1>

<div class="wrapper">
    <p>
        <a asp-action="Create" class="add-btn btn"><img src="~/images/plus-solid.svg" />Dodaj składnik chemiczny</a>
    </p>
    <div class="table">
        <div class="row header green">
            <div class="cell">
                Nazwa składnika chemicznego
            </div>
            <div class="cell">
                Akcje
            </div>
        </div>
        @foreach (var chemicalElement in Model)
        {
            <div class="row">
                <div class="cell" data-title="Nazwa składnika chemicznego">
                    @chemicalElement.Name
                </div>
                <div class="cell" data-title="Akcje">
                    <div class="action-buttons">
                        <a asp-action="Edit" asp-route-id="@chemicalElement.Id" class="btn edit-btn"><img src="~/images/edit.svg" />Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@chemicalElement.Id" class="btn delete-btn"><img src="~/images/delete.svg" />Usuń</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>