@* @model AgroControlUI.DTOs.FarmData.AgriculturalEquipmentCreateDto
 
<h1>Dodaj nowy sprzęt rolniczy</h1>

<div class="form-container">
    <div class="green-form">
        <form asp-action="Create" method="post">
            <h1>Dodaj nowy sprzęt rolniczy</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="group">
                <input asp-for="Name" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label asp-for="Name">Imię</label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="LastName" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label asp-for="LastName">Nazwisko</label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="Email" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="group">
                <input asp-for="Password" required type="password" />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label asp-for="Password">Hasło</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="ReapeatedPassword" required type="password" />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label asp-for="ReapeatedPassword">Powtórz hasło</label>
                <span asp-validation-for="ReapeatedPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Zarejestruj</button>
        </form>
    </div>
</div>
 *@